body {
    text-align: center;
    background-color: #f2a900;
    color: #4d4d4e;
    font-family: "Alkatra", "Space Grotesk", monospace;
    padding: 0 50px;
    margin: 0;
    height: 100vh;
}

#content {
    display: flex;
    flex-direction: column;

}


#title {
    margin: 0;
    padding: 0;
    font-size: 100px;
    font-weight: 900;

}

h2 {
    font-size: 30px;
    font-weight: 500;

}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: whitesmoke;
}

#stats {
    flex: 1;
}

/* .blockquote {

    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter-tweet {
    height: 200px !important;
} */


#progress {
    padding: 50px 250px;
    display: flex;
    flex-direction: column;
}

#priceText {
    display: flex;
    justify-content: space-between;
}

.progress-bar {
    width: 100%;
    height: 30px;
    background-color: whitesmoke;
    border-radius: 25px;
    overflow: hidden;
}

.progress-value {
    height: 100%;
    background-color: #4d4d4e;
    width: 0%;
}

.progress-bar[data-progress] .progress-value {
    width: calc(var(--progress) * 1%);
}

.progress-bar[data-progress="75"] {
    --progress: 76;
}