body {
    background-color: #f2a900;
    color: #4d4d4e;
    font-family: Lexend, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
}

#content {
    display: flex;
    flex-direction: column;

}


#title {
    text-align: center;
    margin: 0;
    padding: 15px 15px;
    background-color: #4d4d4e;
    color: whitesmoke;
}

#stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    flex: 1;
    padding: 0px 50px;

}

#stats h2 {
    font-size: 30px;
    font-weight: 700;

}

a {
    text-decoration: none;
    color: inherit;
}

#title a:hover {
    color: #f2a900;
}

a:hover {
    color: whitesmoke;
}










#progressBarContainer {
    display: flex;
    align-items: center;
}

#progress {
    flex: 10 1 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

#pBShrink {
    flex: 1 2 auto;
}

#priceText {
    /* display: flex;
    justify-content: space-between; */
    font-size: 20px;
    font-weight: 900;
    text-align: end;
}

#priceText p {
    margin: 10px 0;
}



.status-bar {
    position: relative;
    height: 30px;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 5px;
}

.status-bar-fill {
    position: absolute;
    height: 100%;
    width: auto;
    background-color: #4d4d4e;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: width 0.5s ease-out;
}


.status-bar-value {
    background-color: whitesmoke;
    padding: 2px 5px;
    border-radius: 5px;
    position: absolute;
    top: -40px;
    font-size: 20px;
    font-weight: 900;
    white-space: nowrap;
}


.status-bar-ath {
    position: absolute;
    border-right: 4px dashed;
    height: 100%;
    width: auto;
    padding-bottom: 50px;
}

.status-bar-ath p {
    position: absolute;
    font-size: 20px;
    font-weight: 900;
    right: 0;
    bottom: 0;
    margin-right: -45px;
    margin-bottom: -50px;
}

.responsive {
    max-width: 50%;
    height: AUTO;
    border-radius: 10PX;
}